/* Styling for body */
body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

/* Styling for h1 size headings*/
h1 {
  color: #FF2B00;
  border: 10px double;
  position: center;
  padding: 10px;
  border-radius: 30px;
}

/* Styling for paragraphs */
p {
  color: #FF2B00;
  border: 10px double;
  position: center;
  padding: 10px;
  border-radius: 30px;
}

/* Styling for image */
img {
  width: 300px;
  height: auto;
  margin: 20px; 
}

h3 {
  color: #FF2B00;
  border: 10px double;
  position: center;
  padding: 10px;
  border-radius: 30px;
}
